.section > h1, #search-documentation{
    background-color: #ce2d7d;
    color: white;
    border: none;
}

.pl-left-column{
    display: inline-block;
    max-width: 390px;
    vertical-align: top;
    margin-right: 70px;
}

.pl-right-column{
    display: inline-block;
    max-width: 380px;
    vertical-align: top;
}

#right-column {
  max-width: 100%;
}

.document img {
    max-width: 800px;
    border: 1px solid lightgray;
    margin: 10px 0 24px 0;
}

.text-logo {
    background-color: #ce2d7d;
}

h1, h2, h3, h4, h5, h6{
    font-family: "HelveticaNeue-Regular","Helvetica Neue",Helvetica,arial,sans-serif;
}

body {
    font-family: "HelveticaNeue-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.sphinxsidebar .sidebar-toc a{
    font-family: "HelveticaNeue-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;   
    color: #636B75; 
}

.section li.toctree-l1 > ul {
    margin-bottom: 10px;
}

div.sphinxsidebar p{
    color: #636B75;
}

.sidebar-toc ul li.current > a, .sidebar-toc ul li.current > a:hover{
    color: #636B75;
}

a{
    color:#0070B3;    
}

.sidebar-toc > .caption {
    padding-left: 10px;
}

.sidebar-wrapper {
    padding: 0 10px;
}

.text-logo{    
    background: url(img/logo.png) no-repeat;
    width: 200px;
    height: 73px;
    margin: 0;    
    display: block;
    position: relative;
    z-index: 2;
    border-bottom: none;
    margin-left: 35px;
    margin-top: 8px;
}

.sphinxsidebar > .sidebar-block:not(:last-child):after{
    border: none!important;
}

.sidebar-block{
    margin-top: 25px;
}

.sidebar-block > .sidebar-toc ul:first-child li a {
    padding-left: 10px;
}

.form-control, #main-search form .input-group input{
    box-shadow: none;
    border-radius: 0px;
}

.btn{
    border-radius: 0px;
}

.btn-default {
    background-image: none;
    box-shadow: none;
}

.comment-container{
    margin: 24px auto 24px 300px;
    padding: 30px;
}

p.rubric {
  font-weight: normal;
  font-size: 24px;
}