/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%;
    margin: auto;
}

.wy-side-nav-search {
	background-color: #ce2d7d;
}

.wy-side-nav-search input[type=text] {
    border-color: #ce2d7d;
}

.pl-nav-btn {
    margin: 0px 10px 10px 0px !important;
    padding: 6px 12px 8px 12px !important;
}

.pl-left-column{
    display: inline-block;
    max-width: 380px;
    vertical-align: top;
    margin-right: 45px;
}

.pl-right-column{
    display: inline-block;
    max-width: 380px;
    vertical-align: top;
}

.comment-container{
    margin: 24px auto 24px 300px;
    padding: 30px;
}